body {
    padding: 0;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1280px;
}

.header_logo-img {
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, #25764d 10%, rgb(70, 48, 28) 90%);
    border-radius: 0 0 30px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_description {
    color: rgb(204, 139, 19);
    font-family: 'American Typewriter', serif;

}

.header_description-organization {
    font-size: 20px;
    margin: 10px 0 5px 0;
    text-align: center;
}

.header_description-lozyng,
.header_description-tel {
    text-align: right;
    margin-right: 8px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background: #25764d;
    padding: 4px 0;
    border-radius: 6px;
    margin: 16px 16px 16px 16px;
    position: sticky;
    top: 104px;
    z-index: 10;
}

.navigation > div {
    padding: 3px 6px;
    border-radius: 6px;
}

.navigation > div:hover {
    background: rgba(218, 186, 99, 0.5);
}

.navigation_active {
    background: rgba(218, 186, 99, 0.5);
}

.about-page_group {
    display: flex;
    background: #25764d;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    margin: 16px;
    overflow: hidden;
}

.about-page_group--orange {
    background: linear-gradient(180deg, #25764d 10%, rgb(70, 48, 28) 90%);
}

.about-page_description {
    width: 100%;
    padding: 10px;
}

.about-page_image-with-info-img,
.about-page_image-with-info {
    width: 300px;
    border-radius: 30px;
    opacity: 0.8;
}

.about-page {
    display: none;
    background:rgb(104, 74, 46);
}

.page-show.page {
    display: block;
}

.main-container {
    background: linear-gradient(0deg, #25764d 10%, rgb(70, 48, 28) 90%);
}

.about-page_image-with-info-text {
    padding: 10px;
}

.history-page {
    display: none;
}

.about-page_group--second-block {
    background: linear-gradient(0deg, #25764d 10%, rgb(70, 48, 28) 90%);
}

.about-page_group--third-block {
    background:linear-gradient(180deg, #25764d 10%, rgb(70, 48, 28) 90%);
}

.about-page_image-with-info-img--mini-img {
    width: 150px;
    height: 150px;
}
.page-history-page_image-with-info-img {
    width: 200px;
    height: 200px;
    margin: 16px;
    border-radius:30px;
}

.history-page_image-with-info {
    display: flex;
    flex-wrap: wrap;
    gap: 16x;
    margin: 0 auto;
    justify-content: center;
}

.history-page_description-text {
    width: 300px;
    background: rgb(184, 140, 62);
    padding: 6px;
    border-radius: 9px;
    margin: 0 8px;
    opacity: 0.7;
    position: relative;
}

.history-page_description {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.history-page_description > div {
    margin-top: 8px;
}

.test {
    width:50px;
    height: 50px;
    background: url("assets/images/pizza3.jpg") center / contain no-repeat;
    position: absolute;
    top: 10px;
    transition: all 1s;
}

.test:hover {
    top: 100px;
    background: green;
}

.product-page{
    display: none;
}

.product-page__product-card {
    width: 250px;
    height: 380px;
    border-radius: 9px;
    box-shadow: 0 0 3px 3px #16462e;
    margin: 16px;
    position: relative;
    background: rgba(218, 186, 99, 0.5);
}

.product-page__product-card:hover{
    background: rgba(218, 186, 99, 0.6);
}

.product-page__product-card-img {
    width: 220px;
    height: 150px;
    margin: 8px 16px;
    border-radius: 9px;
}

.product-page__product-card-description {
    width: 150px;
    margin: 8px 16px;
}

.product-page__product-card-button {
    color: rgb(68, 46, 5);
    text-align: center;
    padding: 8px 16px;
    background: #1c7435;
    margin: 8px 16px;
    position: absolute;
    bottom: 3px;
    right: -5px;
    left: -5px;
    border-radius: 9px;
}

.product-page__product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-page__product-card-button:hover{
    background: rgba(244, 248, 2, 0.904);
}

.product-page__button {
    height: 40px;
    width: 100px;
    border-radius: 6px;
    background: green;
    color: rgb(68, 46, 5);
    border: 1px solid #000;
    margin: 8px;
}

.product-page__product-card-helper {
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 160px;
}

.product-page__product-card-helper:hover .product-page__product-card-helper-description {
    display: flex;
}

.product-page__product-card-helper-description {
    display: none;
    color: #1c7435;
    opacity: 0.7;
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    right: -8px;
    top: 35px;
    background: #fff;
}

.product-page__product-card-helper-icon {
    height: 30px;
    width: 30px;
}

.product-page__product-card-helper-description-ingridient {
    height: 20px;
    width: 20px;
}

@media (max-width: 550px) {
    .about-page_image-with-info-img,
    .about-page_image-with-info {
        width: 150px;
    }

    .page-history-page_image-with-info-img {
        width: 100px;
    }
}

